# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out

# =========================
# OS-specific files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Node / JavaScript
# =========================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# =========================
# IDE files
# =========================
.idea/
*.iml
.vscode/
*.swp

# =========================
# Others
# =========================
*.log